<%- include("./partials/head") %>

<%- include("./partials/header") %>
<section class="d-flex justify-content-center">
<div class="card col-sm-6 p-3">
<h1 class="title-form">Ingresa</h1>
<form action="/user/login" method="POST" class="row">
    <div class="mb-2">
        <label for="emailInput" class="form-label mt-2">Email</label>
        <input type="email" name="email" class="form-control" value="<%= locals.oldData ? oldData.email : null %>">
        <% if (locals.errors && errors.email) {%> 
            <div class="text-danger">
              <%= errors.email.msg %> 
            </div>
            <% } %>  
    </div>
    <div class="mb-2">
        <label for="passwordInput" class="form-label mt-2">Contraseña</label>
        <div class="password">
        <input type="password" name="password" class="form-control" id="password" value="<%= locals.oldData ? oldData.password : null %>">
        <span class="eye"><i class="fa-solid fa-eye" id="eye" onclick="toggle()"></i></span>
        </div>
        <% if (locals.errors && errors.password) {%> 
            <div class="text-danger">
              <%= errors.password.msg %> 
            </div>
            <% } %>  
    </div>
    <div class="mb-2">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="rememberUser">
            <label class="form-check-label" for="flexSwitchCheckDefault">Recordar Sesion</label>
          </div>
    </div>
    <div>
       <h6>Si no tienes una cuenta has click <a href="/user/register">aqui</a></h6> 
    </div>
    <div  class="d-grid gap-4 col-1 mx-auto m-3">
    <button class="btn btn-primary" type="submit">Login</button>
    </div>
</div>
<script>
  var state = false
  function toggle(){
    if(state){
      document.getElementById("password").setAttribute("type","password");
      document.getElementById("eye").style.color = "gray"
      state = false
    } else {
      document.getElementById("password").setAttribute("type","text");
      document.getElementById("eye").style.color = "blue"
      state = true
    }
  }
</script>
</form>
</section>
<%- include("./partials/footer") %>